@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;



.hide-scroller::-webkit-scrollbar {
  display: none;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(45deg);
}

.loader span {
  position: absolute;
  display: block;
  border: 15px solid #0081e8;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 10px 0 #78d5ff, inset 0 10px 0 #78d5ff;
  animation: animate 4.5s ease-in-out infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: -1.5s;
}

.loader span:nth-child(3) {
  animation-delay: -3.0s;
}

@keyframes animate {
  0% {
    transform: translateZ(-100px);
    width: 100%;
    height: 100%;
  }

  25% {
    transform: translateZ(100px);
    width: 100%;
    height: 100%;
  }

  50% {
    transform: translateZ(100px);
    width: 35%;
    height: 35%;
  }

  75% {
    transform: translateZ(-100px);
    width: 35%;
    height: 35%;
  }

  100% {
    transform: translateZ(-100px);
    width: 100%;
    height: 100%;
  }
}


.slides-inner {
  -webkit-overflow-scrolling: touch;
}

.slides-inner::-webkit-scrollbar {
  display: none;
}

.indicator.active {
  background-color: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
}


.wrapper-class {
  border: 1px solid #ccc;
}

.editor-class {
  padding: 0px 10px;
  background-color: rgb(225, 225, 225);
}

.toolbar-class {
  border: 1px solid #ccc;
}

.public-DraftEditor-content{
  padding: 0px 5px;
}

div.rdw-editor-wrapper{
  padding: 0%;
}

div.DraftEditor-root {
  background-color: #fff;
  width:100%;
  height:300px;
  font-size: 18px;
  font-family: gilroy;
}

div.toolbar {
  position: relative;
  width: 80%;
  background-color: lightsteelblue;
  padding: 10px 20px;
  margin: auto;
  top: 45px;
  text-align: right;
}

div.toolbar button {
  border: 1px solid black;
  padding:5px;
  margin-right:4px;
  background-color:black;
  color:white;
}

.article-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}
